<div class="todoapp">
  <h1 class="todoapp__title">todos</h1>

  <!-- {{ title.errors | json}} -->

  <div class="todoapp__content">
    <header class="todoapp__header">
      <button
        type="button"
        class="todoapp__toggle-all active"
      ></button>

      <app-todo-form (save)="addTodo($event)"></app-todo-form>
    </header>

    <section class="todoapp__main" data-cy="TodoList">
      <app-todo
        *ngFor="let todo of todos$ | async; let i = index; trackBy: trackById"
        [todo]="todo"
        (delete)="deleteTodo(todo)"
        (rename)="renameTodo(todo, $event)"
        (togle)="togleTodo(todo)"
      ></app-todo>
    </section>

    <!-- {/* Hide the footer if there are no todos */} -->
    <footer class="todoapp__footer" data-cy="Footer">
      <span class="todo-count" data-cy="TodosCounter">
        <!-- {{ (todos | filterActive).length }} items left -->
        {{ activeCount$ | async }} items left
      </span>

      <!-- {/* Active link should have the 'selected' class */} -->
      <nav class="filter" data-cy="Filter">
        <a
          href="#/"
          class="filter__link selected"
          data-cy="FilterLinkAll"
        >
          All
        </a>

        <a
          href="#/active"
          class="filter__link"
          data-cy="FilterLinkActive"
        >
          Active
        </a>

        <a
          href="#/completed"
          class="filter__link"
          data-cy="FilterLinkCompleted"
        >
          Completed
        </a>
      </nav>

      <!-- {/* this button should be disabled if there are no completed todos */} -->
      <button
        type="button"
        class="todoapp__clear-completed"
        data-cy="ClearCompletedButton"
      >
        Clear completed
      </button>
    </footer>
  </div>

  <!-- {/* Add the 'hidden' class to hide the message smoothly */} -->
  <app-message></app-message>
</div>

